body{
  background-color: #C63D0F;
  font-family: sans-serif;
}


.head{
	color:#FDF3E7;
	display: flex;
	margin: 10 auto;
	align-self: center;
	justify-content: center;
	height: auto;
	font-size: 50px;
	font-family: sans-serif;
}

fieldset{
	font-family: sans-serif;
	border: solid 3px;
	border-color: #C63D0F;
	font-size: 30px;
}

.div1{
	background-color: #FDF3E7;
	font-color: black;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 3%;
}

form{
	display: flex;
	margin: 0 auto;
	align-self: center;
	height: 100px;
	opacity: 0.7;
	width: 500px;
	justify-content: center;
	width: 70%;
	height: auto;
}
.button{
font-size: 20px;
}

textarea{
	width: auto;
}

.container{
	background-color: #FDF3E7;
	display: flex;
	font-size: 25px;
	margin-top: 50px;
	align-content: center;
	flex-flow: column;
	justify-content: space-between;
	height: auto;
	font-family: sans-serif;
	border-radius: 3%;
	
}

.event{
	margin-bottom: 70px;
	margin-left: 40%;

}

summary{
	text-transform: uppercase;
	text-decoration-line: underline;
	font-weight: bolder;
}

d